//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 10 23:10:04 2015
//! **************************************************************************

SCHEMATIC START;
COMP "a" LOCATE = SITE "L18" LEVEL 1;
COMP "b" LOCATE = SITE "F18" LEVEL 1;
COMP "c" LOCATE = SITE "D17" LEVEL 1;
COMP "d" LOCATE = SITE "D16" LEVEL 1;
COMP "e" LOCATE = SITE "G14" LEVEL 1;
COMP "f" LOCATE = SITE "J17" LEVEL 1;
COMP "g" LOCATE = SITE "H14" LEVEL 1;
COMP "a0" LOCATE = SITE "F17" LEVEL 1;
COMP "a1" LOCATE = SITE "H17" LEVEL 1;
COMP "a2" LOCATE = SITE "C18" LEVEL 1;
COMP "a3" LOCATE = SITE "F15" LEVEL 1;
COMP "Rx" LOCATE = SITE "U6" LEVEL 1;
COMP "tx" LOCATE = SITE "P9" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "bit8" LOCATE = SITE "N17" LEVEL 1;
COMP "rstb" LOCATE = SITE "B18" LEVEL 1;
COMP "MT_CE" LOCATE = SITE "R6" LEVEL 1;
COMP "MT_LB" LOCATE = SITE "K5" LEVEL 1;
COMP "MT_OE" LOCATE = SITE "T2" LEVEL 1;
COMP "MT_UB" LOCATE = SITE "K4" LEVEL 1;
COMP "MT_WE" LOCATE = SITE "N7" LEVEL 1;
COMP "memoryData<10>" LOCATE = SITE "M3" LEVEL 1;
COMP "memoryData<11>" LOCATE = SITE "M6" LEVEL 1;
COMP "memoryData<12>" LOCATE = SITE "L2" LEVEL 1;
COMP "memoryData<13>" LOCATE = SITE "N4" LEVEL 1;
COMP "memoryData<14>" LOCATE = SITE "R3" LEVEL 1;
COMP "memoryData<15>" LOCATE = SITE "T1" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "E17" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "F4" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "MT_ADV" LOCATE = SITE "J4" LEVEL 1;
COMP "MT_CLK" LOCATE = SITE "H5" LEVEL 1;
COMP "MT_CRE" LOCATE = SITE "P7" LEVEL 1;
COMP "parity_en" LOCATE = SITE "L13" LEVEL 1;
COMP "baud_val<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "baud_val<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "baud_val<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "baud_val<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "memoryData<0>" LOCATE = SITE "L1" LEVEL 1;
COMP "memoryData<1>" LOCATE = SITE "L4" LEVEL 1;
COMP "memoryData<2>" LOCATE = SITE "L6" LEVEL 1;
COMP "memoryData<3>" LOCATE = SITE "M4" LEVEL 1;
COMP "memoryData<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "memoryData<5>" LOCATE = SITE "P1" LEVEL 1;
COMP "memoryData<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "memoryData<7>" LOCATE = SITE "R2" LEVEL 1;
COMP "memoryData<8>" LOCATE = SITE "L3" LEVEL 1;
COMP "memoryData<9>" LOCATE = SITE "L5" LEVEL 1;
COMP "memWriteAddr<10>" LOCATE = SITE "G6" LEVEL 1;
COMP "memWriteAddr<11>" LOCATE = SITE "G5" LEVEL 1;
COMP "memWriteAddr<20>" LOCATE = SITE "K3" LEVEL 1;
COMP "memWriteAddr<12>" LOCATE = SITE "G4" LEVEL 1;
COMP "memWriteAddr<21>" LOCATE = SITE "D1" LEVEL 1;
COMP "memWriteAddr<13>" LOCATE = SITE "F2" LEVEL 1;
COMP "memWriteAddr<22>" LOCATE = SITE "K6" LEVEL 1;
COMP "memWriteAddr<14>" LOCATE = SITE "E1" LEVEL 1;
COMP "memWriteAddr<15>" LOCATE = SITE "M5" LEVEL 1;
COMP "memWriteAddr<16>" LOCATE = SITE "E2" LEVEL 1;
COMP "memWriteAddr<17>" LOCATE = SITE "C2" LEVEL 1;
COMP "memWriteAddr<18>" LOCATE = SITE "C1" LEVEL 1;
COMP "memWriteAddr<19>" LOCATE = SITE "D2" LEVEL 1;
COMP "odd_n_even" LOCATE = SITE "L14" LEVEL 1;
COMP "memWriteAddr<0>" LOCATE = SITE "J1" LEVEL 1;
COMP "memWriteAddr<1>" LOCATE = SITE "J2" LEVEL 1;
COMP "memWriteAddr<2>" LOCATE = SITE "H4" LEVEL 1;
COMP "memWriteAddr<3>" LOCATE = SITE "H1" LEVEL 1;
COMP "memWriteAddr<4>" LOCATE = SITE "H2" LEVEL 1;
COMP "memWriteAddr<5>" LOCATE = SITE "J5" LEVEL 1;
COMP "memWriteAddr<6>" LOCATE = SITE "H3" LEVEL 1;
COMP "memWriteAddr<7>" LOCATE = SITE "H6" LEVEL 1;
COMP "memWriteAddr<8>" LOCATE = SITE "F1" LEVEL 1;
COMP "memWriteAddr<9>" LOCATE = SITE "G3" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

